html {
  font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  font-family: $site-script;
  background-color: $parchment;
}

.app-container {
  display: grid;
  grid-template-columns: [left-boarder] minmax(20px, 300px) [left-margin] 1fr [right-margin] minmax(20px, 300px) [right-border];
  color: $dark-ink;
}

.app {
  grid-column: left-margin/right-margin;
  display: grid;
  grid-template-rows: [nav-bar-s] 60px [nav-bar-e body-s] 1fr [body-e];
  & > * {
    grid-row: body-s/body-e;
  }
  .nav-wrapper {
    grid-row: nav-bar-s/nav-bar-e;
  }

}

.button {
  background-color: $dark-parchment;
  border: none;
  border-radius: 3px;
  color: $dark-ink;
  font-weight: 600;
}