.die-statistic-page-wrapper {
  place-self: center;

  .die-statistic-wrapper {
    display: flex;
    flex-direction: column;

    .dice-input {
      text-align: center;
      text-align-last: center;
      font-weight: 600;
      color: $dark-ink;
      margin: 5px;
      background-color: $dark-parchment;
      border: none;
      padding: 10px;

      &:focus{
        outline: none;
      }
    }

    .button {
      padding: 10px;
      align-self: center;
      font: 600 13.3333px Arial;

      &:focus{
        outline: none;
      }
    }
  }

  .loading-spinner {
    position: absolute;
    font-size: 12em;
    top: 37vh;
    left: 47vw;
}

  .hidden {
    display: none;
  }

  .die-result-view {
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

}
