.home {
  height: 100vh;
  font-size: 3em;
}
.default-script{
  font-family: $default-script;
}
.fancy-script{
  font-family: $fancy-script;
}
.child-script{
  font-family: $child-script;
}
.regular-script{
  font-family: $regular-script;
}
.alert-font{
  font-family: $alert-font;
}