.home {
  height: 100vh;
  font-size: 3em;
}
.site-script{
  font-family: $site-script;
}
.fancy-script{
  font-family: $fancy-script;
}
.child-script{
  font-family: $child-script;
}
.regular-script{
  font-family: $regular-script;
}
.alert-script{
  font-family: $alert-script;
}