.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav-link-wrapper {
    font-weight: 600;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-align: center;
      font-size: 1.5em;
      text-decoration: none;
      color: $dark-ink;
      transition: 0.5s ease-in-out;
      &:hover {
        color: $red-ink;
      }
    }
    .nav-link-active {
      color: $red-ink;
    }
  }
  .tool-kit {
    .tool-kit-dropdown {
      background-color: $dark-parchment;
      padding: 10px;
      border-radius: 5px;
      position: absolute;
      top: 50px;
      display: flex;
      flex-direction: column;
      a {
        padding: 5px;
      }
    }
    .hidden {
      display: none;
    }
    &:hover {
      .tool-kit-dropdown{
        display: flex;
      }
    }
  }
}
