.signup-wrapper {
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px [content-s] 3fr [content-e footer-s] 1fr [footer-e];
  column-gap: 100px;
  align-items: center;
  &__left {
    grid-row: content-s/content-e;
    justify-self: right;
  }
  &__right {
    grid-row: content-s/content-e;
    justify-self: left;
  }

  .signup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
    }
    &__link {
      color: #9d7b4d;
    }
  }

  .signup-form {
    display: grid;
    grid-template-columns: [s] 400px [e];
    grid-template-rows: [email-s] 65px [email-e username-s] 65px [username-e password-s] 65px [password-e submit-s] 65px [submit-e];
    row-gap: 10px;

    & > * {
      grid-column: s/e;
    }

    &__email {
      grid-row: email-s/email-e;
    }
    &__username {
      grid-row: username-s/username-e;
    }
    &__password {
      grid-row: password-s/password-e;
    }
    &__submit {
      grid-row: submit-s/submit-e;
    }
    &__submit {
      grid-row: submit-s/submit-e;
      grid-column: 1/-1;
    }
    &__desc {
      grid-column: s/e;
      background-color: $dark-parchment;
      border-radius: 5px;
      height: 65px;
      display: grid;
      align-items: center;
      grid-template-columns: 10px [title-s] 1fr;
      & > * {
        grid-column: title-s;
        font-size: 18px;
        font-weight: 600;
      }
    }
    &__input {
      grid-column: s/e;
      text-indent: 100px;
      font-weight: 600;
      color: $dark-ink;
      background-color: transparent;
      border: none;
      z-index: 10;

      &:focus {
        outline: none;
      }
    }
  }
  .button {
    padding: 10px;
    align-self: center;
    font: 600 13.3333px Arial;

    &:focus {
      outline: none;
    }
  }
}
