$parchment: #decc9c;
$dark-parchment: #dabc78;
$red-ink: #a52a2a;
$dark-ink: #9d7b4d;
$site-script: 'Montez', cursive;
$fancy-script: 'Great Vibes', cursive;
$child-script: 'Schoolbell', cursive;
$regular-script: 'Satisfy', cursive;
$alert-script: 'Sedgwick Ave Display', cursive;